* { 
  * margin: 0; 
  * padding: 0;
  * font-size: 14px; 
  * line-height: 1.5;  
  * background: #DEDEDE; 
  }

.main { 
  display: grid; 
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-rows: 0.5fr repeat(4, 2fr); 
  width: 100vw;
  margin:0;  
  background: #DEDEDE; 
  position: absolute; 
}

.content { 
  display: grid; 
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: repeat(10, 2fr) auto; 
  grid-row: 2 / 6; 
  grid-column: 2 / 3;
  padding: 1rem;  
  background: #F2F0EF;  
  overflow-y: auto;  
}

.header { 
  font-size: 1.5rem; 
  font-weight: 700;
  display: flex; 
  grid-column: 2 / 3; 
  grid-row: 1 / 2; 
  flex-direction: column; 
  padding: 2rem; 
  background: #F2F0EF; 
} 

#btnAddBook { 
  width: clamp(102px, 20%, 150px); 
  padding: 0.5rem; 
  font-size: 1rem; 
  font-weight: 500; 
  border-radius: 0.75rem;
  box-shadow: 5px 2px 2px #DEDEDE; 
  background: #DEDEDE;  
} 

.card { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  border: 1px solid black; 
  border-right: 4px solid blue; 
  border-radius: 1rem; 
  background: #DEDEDE; 
  margin: 1rem; 
  padding: 1rem; 
  height: clamp(150px, 20vh, 200px);
  font-weight: 700; 
  box-shadow: 10px 5px 5px #DEDEDE;
}

.card > * { 
  display: flex; 
  flex-direction: row; 
  padding: clamp(2px, 0.25rem, 3px); 
  margin: 0; 
  justify-content: space-between; 
} 

.card > button { 
  width: 20%; 
} 

.card > h2 { 
  font-size: clamp(1rem, 1.5rem, 3rem); 
}

dialog > div { 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin: 1rem; 
  padding: 0.2rem; 
  gap: 0.5rem; 
} 

dialog > div:nth-child(4) { 
  gap: 1.6rem; 
  justify-content: start; 
} 

dialog > button { 
  margin: 1rem; 
  padding: 0.2rem; 
} 

